<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>393813279059-mvqap9rt26lumv7q5n6eahs4fmeu4fnp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.393813279059-mvqap9rt26lumv7q5n6eahs4fmeu4fnp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>393813279059-36j2pc06pnl732i0hj0fequoefdp7k3a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAtW2a9SUpuU5_WZwG-pmCDziQ0SHIDlGc</string>
	<key>GCM_SENDER_ID</key>
	<string>393813279059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.easyTL</string>
	<key>PROJECT_ID</key>
	<string>easytlnew</string>
	<key>STORAGE_BUCKET</key>
	<string>easytlnew.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:393813279059:ios:f046b0978c3478a94be1a6</string>
	<key>DATABASE_URL</key>
	<string>https://easytlnew.firebaseio.com</string>
</dict>
</plist>
